body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #333;
}

.todo-container {
    max-width: 400px;
    margin: 0 auto;
    margin-top: 30vh;
}

h1 {
    color: #d8761a;
    ;
}

input[type="text"] {
    width: 70%;
    padding: 10px;
    margin-bottom: 10px;
}

button {
    padding: 10px 20px;
    background-color: #d8761a;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 20px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #ddd;
    margin: 5px 0;
    padding: 5px 10px;
    color: white;
}

li .delete-button {
    background-color: #ff3333;
    color: white;
    border: none;
    cursor: pointer;
}